html {
position: fixed;
width: 100vw;
height: 100vh;
background: black;
}

body {
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
background: url("https://eirik.nl/proxy.php?https://games.cdn.famobi.com/html5games/e/element-blocks/v290/img/background.png") no-repeat center;
background-size: cover;
overflow: hidden;
}

@font-face {
font-family: 'Kanit';
src: url('fonts/Kanit-Bold.eot');
src: url('fonts/Kanit-Bold.eot?#iefix') format('embedded-opentype'),
url('https://games.cdn.famobi.com/html5games/e/element-blocks/v290/fonts/Kanit-Bold.woff2') format('woff2'),
url('https://games.cdn.famobi.com/html5games/e/element-blocks/v290/fonts/Kanit-Bold.woff') format('woff'),
url('https://games.cdn.famobi.com/html5games/e/element-blocks/v290/fonts/Kanit-Bold.ttf') format('truetype'),
url('https://games.cdn.famobi.com/html5games/e/element-blocks/v290/fonts/Kanit-Bold.svg#Kanit-Bold') format('svg');
font-weight: bold;
font-style: normal;
}
